<h1>Document Application Home</h1>

<%= link_to 'Documents Management', {controller: 'documents'}, class: "btn btn-primary" %>
<%= link_to 'Responsibles Management', {controller: 'responsibles'}, class: "btn btn-primary" %>