<h1>Show Document</h1>
<p>
  <strong>Title:</strong>
  <div class="form-control">
  	<%= @document.title %>
  </div>
</p>
 
<p>
  <input type="hidden" id="document_content" value="<%= @document.content %>"></input>
  <strong>Content:</strong>
  <ol>
    <div id="content"></div>
  </ol>	
</p>

<p>
  <strong>Category:</strong>
  <div class="form-control">
  	<%= @document.category.name %>
  </div>
</p>
<%= link_to 'Back', documents_path, class: "btn btn-primary" %>
<script src="/js/quill.min.js"></script>
<script type="text/javascript">
    let Embed = Quill.import('blots/embed');
    let Block = Quill.import('blots/block');
    let BlockEmbed = Quill.import('blots/block/embed');

    class TemplateMarker extends Embed {
        static create(value) {
            let node = super.create(value);
            switch(value.marker.substr(1, 3)) {
              case 'doc':
                node.setAttribute('class', 'btn btn-xs btn-info');
                break;
              case 'rec':
                node.setAttribute('class', 'btn btn-xs btn-warning');
                break;
              case 'res':
                node.setAttribute('class', 'btn btn-xs btn-success');
                break;
            default:
                node.setAttribute('class', 'btn btn-xs btn-danger');
          }
            node.setAttribute('data-marker', value.marker);
            node.setAttribute('data-title', value.title);
            node.innerHTML = value.title;
            return node;
        }
      static value(node) {
            return {
                marker: node.getAttribute('data-marker'),
                title: node.getAttribute('data-title'),
            };
        }
    }
    TemplateMarker.blotName = 'TemplateMarker';
    TemplateMarker.tagName = 'span';

    class ListItemBlot extends Block {
      static formats(node) {
        return ListItemBlot.tagName.indexOf(node.tagName) + 1;
      }
    }
    ListItemBlot.blotName = 'list';
    ListItemBlot.tagName = ['li'];

    Quill.register({
        'formats/TemplateMarker': TemplateMarker
    });
    Quill.register(ListItemBlot);
    $('#content')[0].innerHTML = quillGetHTML(JSON.parse($("#document_content").val()));

    function quillGetHTML(inputDelta) {
        var tempCont = document.createElement("div");
        (new Quill(tempCont)).setContents(inputDelta);
        return tempCont.getElementsByClassName("ql-editor")[0].innerHTML;
    }
</script>